iversion: 2
jobs:
  build:
    docker:
      - image: circleci/golang:latest
    steps:
      - checkout
      - run: go build

  lint:
    docker:
      - image: golangci/golangci-lint:latest
    steps:
      - checkout
      - run:
          name: Lint
          command: golangci-lint run --enable-all
  test:
    docker:
      - image: circleci/golang:latest
    steps:
      - checkout
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - setup_remote_docker
      - run: docker-compose up -d
      - run: go test ./...

  coverage:
    docker:
      - image: circleci/golang:latest
    steps:
      - checkout
      - run:
          name: "Create a temp directory for artifacts"
          command: |
            mkdir -p /tmp/artifacts
      - run:
          command: |
            go test -coverprofile=c.out
            go tool cover -html=c.out -o coverage.html
            mv coverage.html /tmp/artifacts
      - store_artifacts:
          path: /tmp/artifacts

workflows:
  version: 2
  build-test-lint:
    jobs:
      - build
      - lint
      - test
